@model WebApplication1.Models.DiscountCard
@{
    ViewData["Title"] = "Discount Card";
}

<style>
    legend {
        background: #ffffff; /* Цвет фона */
        padding: 5px 10px; /* Поля */
        border: 2px solid #220e5b; /* Параметры рамки */
        margin-left: 20px; /* Отступ слева */
        border-radius: 5px; /* Радиус скругления */
    }

    fieldset {
        border: 1px solid #1f497d; /* Параметры рамки */
        border-radius: 5px; /* Радиус скругления */
    }
    #select1 {
        position: relative;
        margin: 10px 10px;
        font-family: 'Times New Roman', Times, serif;
        font-size: large;
    }
    #inpNameDC {
        width: 250px;
    }
    #inpSurnameDC {
        width: 250px;
    }
    #btDC {
        border-radius: 10px;
    }
</style>

<form id="qw" asp-action="CreateDiscountCard" asp-controller="Home">
    <fieldset style="border: solid; border-width: thin; height: 275px; width:375px; border-color: #808080">
        <legend visible="true" style="width:auto; margin-bottom: 0px; font-size: 12px; font-weight: bold; color: #1f497d;">Создание Discount Card</legend>
        <div id="select1">
            <div class="form-group">
                <label asp-for="Name" class="control-label">Имя владельца карты</label>
                <input id="inpNameDC" type="text" asp-for="Name" class="form-control" placeholder="Введите имя" />
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label">Фамилия владельца карты</label>
                <input id="inpSurnameDC" type="text" asp-for="Surname" class="form-control" placeholder="Введите фамилию" />
            </div>
            <div class="form-group">
                <input id="btDC" type="submit" value="Создать" />
            </div>
        </div>
    </fieldset>
</form>
