@model SIGMA_ST.ViewModels.IndexViewModel
@{
    ViewBag.Title = "Кассовый аппарат";
}

<style>
    #selNG {
        width: 110px;
    }

    #inpNumL {
        width: 230px;
    }
</style>


<form asp-action="Index" asp-controller="Home">
    <input id="inpNumL" type="text" asp-for="Name" class="form-control" placeholder="name card" />
    <input id="inpNumL" type="text" asp-for="Surname" class="form-control" placeholder="surname" />
    <input id="inpNumL" type="number" asp-for="Bonuses" class="form-control" placeholder="bonuses" />
    <input id="inpNumL" type="text" asp-for="NameGas" class="form-control" placeholder="name gas" />
    <input id="inpNumL" type="number" min=0 asp-for="Number" step="0.1" class="form-control" placeholder="number" />
    <input id="inpNumL" type="number" min=0 asp-for="Price" step="0.1" class="form-control" placeholder="price" />
    <input id="inpNumL" type="number" min=0 asp-for="IDGas"  class="form-control" placeholder="idgas" />
    <input id="Submit1" type="submit" value="SEND" />
</form>


