@model SIGMA_ST.ViewModels.IndexViewModel
@{
    ViewBag.Title = "Кассовый аппарат";
}

<style>
 #fg1{
     position: absolute;
     top: 100px;
 }
 #sel1{
     width: 75px;
 }
</style>

<form asp-controller="Home" asp-action="Index">
    <div class="form-group" id="fg1">
      <select id="sel1" asp-for="IDGas">
          <option value="1" >АИ-80</option>
          <option value="2" >АИ-92</option>
          <option value="3" >АИ-95</option>
          <option value="4" >АИ-95+</option>
          <option value="5" >АИ-98</option>
          <option value="6" >АИ-100</option>
      </select>
    </div>
</form>


